*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b1a0f0;
}

.game-title{
    font-size: 30px;
    margin-top: 24px;
    text-align: center;
}
.game{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 24px;
    width: 80%;
    max-width: 500px;
    padding: 24px 18px;
    gap: 32px;
    border-radius: 3%;
    /* neobrutalism effect */
    border: 5px solid #05060f;
    box-shadow: .4rem .4rem #05060f;
    overflow: hidden;
}

/* Score board with names of players */
.score-board{
    text-align: center;
    gap: 12px;
}
.score-names{
    font-size: 18px;
    display: inline-block;
}
.comp-name{
    width: 60px;
}
.score-number-container{
    margin: 0 10px;
}
.score-numbers{
    font-size: 48px;
}

/* Announces the win/lose */
.announcement{
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.announcement-text{
    width: 150px;
    height: 24px;
    padding: 10px 0;
    border-radius: 6px;
}

/* Shows the chosen option of both players */
.fight{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fight-box{
    height: 6em;
    width: 6em;
    border: none;
}
.fight-box img{
    width: 100%;
}
.versus{
    font-size: 32px;
}

/* Shows the win condition of the current round */
.round-details{
    text-align: center;
    height: 12px;
}

/* This is where players choose rock, paper, or scissors  */
.choices-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn{
    border: none;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}
.btn:hover{
    transform: translateY(-12px);
}
.btn-img{
    width: 3rem;
    height: auto;
}
.rock{
    background-color: #EDB7ED;
    border: 3px solid #05060f;
    box-shadow: .2rem .2rem #05060f;
    overflow: hidden;
}
.paper{
    background-color: #8DDFCB;
    border: 3px solid #05060f;
    box-shadow: .2rem .2rem #05060f;
    overflow: hidden;
}
.scissors{
    background-color: #82A0D8;
    border: 3px solid #05060f;
    box-shadow: .2rem .2rem #05060f;
    overflow: hidden;
}

/* This resets the game */
.reset{
    background-color: #b1a0f0;
    padding: 10px;
    width: 100px;
    height: 50px;
    align-self: center;
    border-radius: 10px;
    border: none;
    border-radius: 1rem;
    border: 3px solid #05060f;
    box-shadow: .2rem .2rem #05060f;
    overflow: hidden;
    color: black;
    cursor: pointer;
}
.reset:hover{
    transform: translateY(-5px);
}

/* This is a modal that shows when the game ends  */
.modal{
    display: none;
    position: fixed; /* stays in place */
    z-index: 1; /* sits on top of everything */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0,  0, 0.7);
}
.modal-content{
    background-color: #ffffff;
    width: 180px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    overflow: hidden;
    margin: 20% auto;
    border: 3px solid #05060f;
    box-shadow: .2rem .2rem #05060f;
}
.winner-text{
    display: block;
    font-size: 38px;
    padding-bottom: 24px;
}
.reset2{
    background-color: #b1a0f0;
    padding: 10px;
    width: 100px;
    height: 50px;
    align-self: center;
    border-radius: 10px;
    border: none;
    border-radius: 1rem;
    border: 3px solid #05060f;
    box-shadow: .2rem .2rem #05060f;
    overflow: hidden;
    color: black;  
    cursor: pointer;  
}
.reset2:hover{
    transform: translateY(-5px);
}