*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #634EB1;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 48px;
    width: 75%;
    max-width: 500px;
    padding: 32px;
    gap: 50px;
    border-radius: 3%;
}

.score-board{
    width: 100%;
    gap: 8px;
    text-align: center;
}
.score-names{
    font-size: 14px;
    display: inline-block;
}
.comp-name{
    width: 42px;
}
.score-numbers{
    font-size: 42px;
    font-weight: bolder;
}

.fight{
    display: flex;
    justify-content: space-evenly;
}
.fight-box{
    height: 7em;
    width: 7em;
    border: 1px solid red;
}
.versus{
    font-size: 32px;
}

.choices-container{
    display: flex;
    justify-content: center;
    gap: 18px;
}
.btn{
    border: none;
    padding: 10px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow:  15px 15px 30px #d9d9d9,
                 -15px -15px 30px #ffffff;
}
.btn-img{
    width: 5em;
    height: auto;
}

.reset{
    padding: 10px;
    width: 150px;
    align-self: center;
}